#div_margins {
  position: absolute;
  border: 1px dashed green;
  z-index: 9;
}

mwlResizable {
  box-sizing: border-box;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 4px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 4px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

#div_chartjs {
  display: block;
  width: 100%;
  height: calc(100% - 30px);
}