mwlResizable {
  box-sizing: border-box; 
}

#div_margins {
  position: absolute;
  border: 1px dashed green;
}

#div_chartjs {
  position: relative;
  display: block; 
  width:100%; 
  height: 100%;
}
