#header {
   display: flex;
   flex-wrap: wrap;  
   justify-content: space-between;
   margin: 0px 20px 10px 20px;
}

p {
   text-align: justify;
}
 
#div_action_cards {
   display: flex;
   flex-wrap: wrap;  
   align-items: stretch;
   justify-content: space-around;
   margin: 0px 20px 0px 20px;
   padding-bottom: 20px;
}

.action-card {
   min-width: 250px;
   max-width: 400px;
   margin: 0px 4px 0px 4px;
   background-color: rgb(208, 245, 199);
}

.div_actions {
   text-align: right;
   padding-top: 40px;
}

#div_start {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 30px 0px 30px 0px;
}

#start_button {
   font-size: 75px;
}

.carousel {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#about-image {
   background-image: url('../../assets/mat-icons/about_koia.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#features-image {
   background-image: url('../../assets/mat-icons/features.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#shield-image {
   background-image: url('../../assets/mat-icons/trust.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#data-image {
   background-image: url('../../assets/mat-icons/data_formats.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#datascene-image {
   background-image: url('../../assets/mat-icons/import_select.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#view-image {
   background-image: url('../../assets/mat-icons/view_data.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#screenshots-image {
   background-image: url('../../assets/mat-icons/computer.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#browser-image {
   background-image: url('../../assets/mat-icons/computer.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#couchdb-image {
   background-image: url('../../assets/couchdb.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#importselect-image {
   background-image: url('../../assets/mat-icons/import_select.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#create-image {
   background-image: url('../../assets/mat-icons/create.png');
   background-repeat: no-repeat;
   background-size: cover;
} 