#header {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

#img_koia {
   z-index: 10;
}

#img_retro_compatible {
   position: absolute;
   top: 10px;
   right: 15px;
}

p {
   text-align: justify;
}
 
#div_action_cards {
   display: flex;
   flex-wrap: wrap;  
   align-items: stretch;
   justify-content: space-around;
   padding-bottom: 20px;
}

.intro-card {
   min-width: 300px;
   max-width: 440px;
   margin: 6px 4px 0px 4px;
}

.koia-color-left {
   background-color: #AD1F1F;
   color: white;
}

.koia-color-center {
   background-color: #EA8315;
}

.koia-color-right {
   background-color: #CA1010;
   color: white;
}

.intro-card-image {
   opacity: 0.9;
}

.div_actions {
   text-align: right;
   padding-top: 40px;
}

.mat-active {
   background-color: #388E3C;
   color: #fff;
}

.mat-inactive {
   background-color: lightgray;
   color: black;
}

.mat-corrupt {
   background-color: red;
   color: #fff;
}

#div_start {
   display: flex;
   justify-content: center;
   margin: 30px 40px 30px 0px;
}

#start_button {
   font-size: 80px;
}

#monitor-image {
   background-image: url('/assets/monitor.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#couchdb-image {
   background-image: url('/assets/couchdb.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#folder-document-image {
   background-image: url('/assets/folder_document.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#line-chart-image {
   background-image: url('/assets/line_chart.png');
   background-repeat: no-repeat;
   background-size: cover;
} 

#div_screenshots {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   max-width: 800px;
}

.but_arrow {
   position: absolute;
   bottom: -26px;
   cursor: pointer;
   opacity: 0.6;
}

.but_arrow:hover {
   opacity: 1;
}

#but_next {
   right: 0px;
}

#about-image {
   background-image: url('/assets/mat-icons/about.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#features-image {
   background-image: url('/assets/mat-icons/features.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#shield-image {
   background-image: url('/assets/mat-icons/trust.png');
   background-repeat:no-repeat;
   background-size: cover;
}

#data-image {
   background-image: url('/assets/mat-icons/data_formats.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#view-image {
   background-image: url('/assets/mat-icons/view_data.png');
   background-repeat:no-repeat;
   background-size: cover;
} 

#screenshots-image {
   background-image: url('/assets/mat-icons/computer.png');
   background-repeat:no-repeat;
   background-size: cover;
} 