#div_charts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
}

#div_sel_data_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

button {
  margin: 2px;
}

.close {
  margin-top: 5px;
  float: right;
}

.field_small_integer {
  width: 80px;
  margin-right: 20px;
}

.span_legend {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1em;
}

.menu_item_legend_position {
  padding: 0 3 0 3;
  margin: 0px;
}

.div_column_swap_list {
  width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.div_column_list {
  border: solid 1px #ccc;
  min-height: 40px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.div_column_item {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  gap: 0.5em;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
}

mat-form-field {
  min-width: 7em;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.div_column_item:last-child {
  border: none;
}

.div_column_list.cdk-drop-list-dragging .div_column_item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.select_time_unit {
  width: 100px;
  margin-left: auto;
}