{{ title }}
<div class="div_labels">
    <mat-form-field>
        <mat-label>Step Size</mat-label>
        <input matInput type="number" placeholder="Automatic" [(ngModel)]="ticksConfig.stepSize">
    </mat-form-field>
    <div class="div_label_rotation">
        Rotation
        <mat-slider min="0" max="90" step="1" #ngSlider>
            <input matSliderThumb [value]="- ticksConfig.rotation" (valueChange)="ticksConfig.rotation = -$event"
                #ngSliderThumb="matSliderThumb" />
        </mat-slider>
    </div>
</div>