.div_flex_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: flex-start;
}

.div_element {
  flex-shrink: 0;
  position: relative;
  margin: 5px;
  float: left;
  min-width: 200px;
  overflow: hidden;    
}

.div_element_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.but_config {
  z-index: 1; /* otherwise, it doesn't stay behind sticky header when scrolling */ 
  opacity: 0.2;  
}

.but_config_active {
  z-index: 1; /* otherwise, it doesn't stay behind sticky header when scrolling */ 
  opacity: 1;  
}

.div_title {
  padding-top: 10px;
  flex-grow: 99;
}

.textarea_title {
  width: 99%;
  text-align: center;
  font-weight: bold;
  resize: none;
}

.textarea_title:focus {
  border: 1px solid lightgray;
}

.but_warning {
  z-index: 1; /* otherwise, it doesn't stay behind sticky header when scrolling */ 
}

.but_close {
  z-index: 1; /* otherwise, it doesn't stay behind sticky header when scrolling */ 
  opacity: 0.2;  
}

button:hover {
  opacity: 1;
}

mwlResizable {
  box-sizing: border-box;
}

.resize-handle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2px;
  cursor: se-resize;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadein {
  opacity: 1;
}