<div [class]="'div_column_item ' + cssClass" mat-stroked-button cdkDrag>
    <span>
        <mat-icon [class]="cssClass">{{ icon }}</mat-icon>
        <span [class]="cssClass">{{ column.name }}</span>
    </span>
    <span class="select_time_unit" *ngIf="column.dataType === 'Time'">
        <span [matMenuTriggerFor]="groupingTimeUnitMenu">
            <span *ngIf="!column.groupingTimeUnit" [class]="cssClass">not grouped</span>
            <span *ngIf="column.groupingTimeUnit" [class]="cssClass">per {{ column.groupingTimeUnit }}</span>
            <mat-icon [class]="cssClass">more_vert</mat-icon>
        </span>
        <mat-menu #groupingTimeUnitMenu="matMenu">
            <button mat-menu-item *ngFor="let timeUnit of selectableTimeUnits" (click)="groupingTimeUnitChanged(timeUnit)">
                {{ timeUnit ? 'per ' + timeUnit : '' }}
            </button>
        </mat-menu>
    </span>
</div>