.div_column_item {
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
}

span {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.select_time_unit {
    margin-left: auto;
}