<div [class]="'div_column_item ' + cssClass" mat-stroked-button cdkDrag>
  <span>
    <mat-icon [class]="cssClass">{{ icon }}</mat-icon>
    <span [class]="cssClass">{{ column.name }}</span>
  </span>
  @if (column.dataType === 'Time') {
    <span class="select_time_unit">
      <span [matMenuTriggerFor]="groupingTimeUnitMenu">
        @if (!column.groupingTimeUnit) {
          <span [class]="cssClass">not grouped</span>
        }
        @if (column.groupingTimeUnit) {
          <span [class]="cssClass">per {{ column.groupingTimeUnit }}</span>
        }
        <mat-icon [class]="cssClass">more_vert</mat-icon>
      </span>
      <mat-menu #groupingTimeUnitMenu="matMenu">
        @for (timeUnit of selectableTimeUnits; track timeUnit) {
          <button mat-menu-item (click)="groupingTimeUnitChanged(timeUnit)">
            {{ timeUnit ? 'per ' + timeUnit : '' }}
          </button>
        }
      </mat-menu>
    </span>
  }
</div>