<mat-card id="context" *ngIf="showContext">
  <h3>Retrospective Analysis</h3>
  <table *ngIf="scene">
    <tr *ngFor="let contextInfo of scene.context">
      <th>{{contextInfo.name}}</th>
      <td>{{contextInfo.value}}</td>
    </tr>
  </table>
</mat-card>

<div id="div_main" color="accent">

  <div id="div_toolbar">
    <span class="span_buttons" *ngIf="!dialogStyle">
      <button id="butShowContext" mat-button [color]="showContext ? 'accent' : ''" mat-icon-button
        [matTooltip]="showContext ? 'Hide Context' : 'Show Context'" (click)="showContext = !showContext">
        <mat-icon>help_outline</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;
      <button id="butAdmin" mat-button [color]="currURL == urlScenes ? 'accent' : ''" mat-icon-button
        matTooltip="Administration" [routerLink]="[urlScenes]">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button id="butRawData" mat-button [color]="currURL == urlRawdata ? 'accent' : ''" mat-icon-button
        matTooltip="Raw Data Table" [routerLink]="[urlRawdata]">
        <mat-icon svgIcon="raw_data_view"></mat-icon>
      </button>
      <button id="butGridView" mat-button [color]="currURL == urlGrid ? 'accent' : ''" mat-icon-button
        matTooltip="Grid View" [routerLink]="[urlGrid]">
        <mat-icon svgIcon="grid_view"></mat-icon>
      </button>
      <button id="butFlexView" mat-button [color]="currURL == urlFlex ? 'accent' : ''" mat-icon-button
        matTooltip="Flex View" [routerLink]="[urlFlex]">
        <mat-icon svgIcon="flex_view"></mat-icon>
      </button>
      <button id="butPivotView" mat-button [color]="currURL == urlPivot ? 'accent' : ''" mat-icon-button
        matTooltip="Pivot Table" [routerLink]="[urlPivot]">
        <mat-icon svgIcon="pivot_table"></mat-icon>
      </button>
    </span>
    
    <div id="div_filter">
      <!-- full txt filter together with sort doesn't work with PouchDB, hence we get rid of it for now
      <mat-form-field class="full_text_filter">
        <input id="fullTextFilter" matInput type="text" placeholder="Filter (text columns only)"
          [(ngModel)]="fullTextFilter" (keyup)="onFilterFieldKeyUp($event)">
        <button mat-button id="clearFullTextFilterButton" color="primary" *ngIf="fullTextFilter" matSuffix
          mat-icon-button aria-label="Clear" (click)="resetFullTextFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      -->

      <span class="span_column_filter" *ngFor="let columnFilter of columnFilters">

        <span class="span_menu_trigger" [matMenuTriggerFor]="nonTimeColumnsMenu">{{ columnFilter.propertyName }}</span>
        <mat-menu #nonTimeColumnsMenu="matMenu">
          <button mat-menu-item *ngFor="let column of nonTimeColumns"
            [disabled]="column.name === columnFilter.propertyName"
            (click)="onColumnFilterChanged(columnFilter, column)">
            <span>{{ column.name }}</span>
          </button>
        </mat-menu>

        <span class="span_menu_trigger" [matMenuTriggerFor]="operatorMenu">{{ columnFilter.operator }}</span>
        <mat-menu #operatorMenu="matMenu">
          <button mat-menu-item *ngFor="let operator of availableOperatorsOf(columnFilter.propertyName)"
            [disabled]="operator === columnFilter.operator"
            (click)="columnFilter.operator = operator; refreshEntries()">
            <span>{{ operator }}</span>
          </button>
        </mat-menu>

        <mat-form-field class="column_filter_value" *ngIf="!columnFilter.operator.endsWith('empty')">
          <input matInput type="text" placeholder="Filter Value" [(ngModel)]="columnFilter.filterValue"
            (keyup)="onFilterFieldKeyUp($event)">
          <button mat-button color="primary" *ngIf="columnFilter.filterValue" matSuffix mat-icon-button
            aria-label="Clear" (click)="resetColumnFilter(columnFilter)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-icon class="icon_remove_column_filter" matTooltip="Remove column filter"
          (click)="removeColumnFilter(columnFilter)">remove_circle_outline</mat-icon>
      </span>
    </div>

    <span class="span_buttons" *ngIf="scene">

      <button id="butAddColFilter" mat-button mat-icon-button matTooltip="Add column filter"
        [matMenuTriggerFor]="columnFilterMenu">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <mat-menu #columnFilterMenu="matMenu">
        <span *ngFor="let column of scene.columns">

          <button class="but_new_col_filter" *ngIf="!isNumberColumn(column)" [disabled]="hasRangeFilter(column)"
            mat-menu-item (click)="addColumnFilter(column)">
            <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
            <span>{{ column.name }}</span>
          </button>

          <button *ngIf="isNumberColumn(column)" mat-menu-item [matMenuTriggerFor]="numberColumnFilterMenu">
            <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
            <span>{{ column.name }}</span>
          </button>
          <mat-menu #numberColumnFilterMenu="matMenu">
            <button mat-menu-item (click)="addColumnFilter(column)">
              <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
              <span>Value</span>
            </button>
            <button mat-menu-item (click)="addRangeFilter(column, null)" [disabled]="hasRangeFilter(column)">
              <mat-icon>swap_horiz</mat-icon>
              <span>Value Range</span>
            </button>
          </mat-menu>

        </span>
      </mat-menu>

      <button mat-button *ngIf="rangeFilters.length > 0" mat-icon-button
        [matTooltip]="showRangeFilters ? 'Hide value range filters' : 'Show value range filters'"
        (click)="showRangeFilters = !showRangeFilters">
        <mat-icon [matBadge]="rangeFilters.length" matBadgeSize="small"
          [matBadgeColor]="showRangeFilters ? 'accent' : 'accent'">swap_horiz</mat-icon>
      </button>

      <button mat-button (click)="refreshEntries()" mat-icon-button matTooltip="Refresh data">
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
  </div>

  <div *ngIf="showRangeFilters">
    <div *ngFor="let rangeFilter of rangeFilters">
      <div class="div_range_slider">
        <button mat-button color="accent" mat-icon-button matTooltip="Define slider step size"
          [matMenuTriggerFor]="stepmenu">
          <mat-icon [matBadge]="rangeFilter.selectedStepAbbrev" matBadgePosition="below" matBadgeColor="accent">
            linear_scale
          </mat-icon>
        </button>
        <mat-menu #stepmenu="matMenu">
          <button mat-menu-item *ngFor="let step of rangeFilter.availableSteps"
            [disabled]="step === rangeFilter.selectedStep" (click)="rangeFilter.onStepChanged(step)">
            <span>Step by {{ step.toLocaleString() }}</span>
          </button>
        </mat-menu>
        &nbsp;&nbsp;
        <ng5-slider [(value)]="rangeFilter.selStart" [(highValue)]="rangeFilter.selEnd"
          [options]="rangeFilter.rangeOptions" (userChangeEnd)="refreshEntries()"></ng5-slider>
        <button class="but_reset_range_filter" mat-button color="accent" mat-icon-button
          matTooltip="Reset value range filter" [disabled]="!rangeFilter.isFiltered()"
          (click)="resetRangeFilter(rangeFilter)">
          <mat-icon>undo</mat-icon>
        </button>
        <button class="but_remove_range_filter" mat-button mat-icon-button matTooltip="Remove value range filter"
          (click)="removeRangeFilter(rangeFilter)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <div class="div_range_column_name">{{ rangeFilter.column.name }}</div>
    </div>
  </div>
</div>