button {
  z-index: 999;
}

#div_main {
  margin-top: 2px;
  background-color: #ECEFF1;
}

#div_toolbar {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.span_buttons {
  display: flex;
  align-items: center;
}

#div_filter {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 20px;
}

.span_column_filter {
  display: flex;
  min-height: 50px;
  margin-right: 20px;
  align-items: center;
}

.full_text_filter {
  width: 460px;
}

#butAddColFilter {
  color: white;
  background-color: #38983b;
}