<div id="div_main">

  <div id="div_toolbar">
    <span class="span_buttons" *ngIf="!dialogStyle">
      <button id="butHome" mat-button mat-icon-button matTooltip="Front Page" [routerLink]="[urlFront]">
        <mat-icon>home</mat-icon>
      </button>
      <button id="butScenes" mat-button mat-icon-button matTooltip="Scenes" [routerLink]="[urlScenes]">
        <mat-icon>collections</mat-icon>
      </button>
      <button id="butScene" mat-button mat-icon-button matTooltip="Add Scene" [routerLink]="[urlScene]">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <button id="butRawData" mat-stroked-button [color]="currURL === urlRawdata ? 'accent' : ''"
        matTooltip="Raw Data Table" [routerLink]="[urlRawdata]">
        <mat-icon svgIcon="raw_data_view"></mat-icon>
        <span>&nbsp;Raw Data</span>
      </button>
      <button id="butPivotView" mat-stroked-button [color]="currURL === urlPivot ? 'accent' : ''"
        matTooltip="Pivot Table" [routerLink]="[urlPivot]">
        <mat-icon svgIcon="pivot_table"></mat-icon>
        <span>&nbsp;Pivot Table</span>
      </button>
      <button id="butGridView" mat-stroked-button [color]="currURL === urlGrid ? 'accent' : ''" matTooltip="Grid View"
        [routerLink]="[urlGrid]">
        <mat-icon svgIcon="grid_view"></mat-icon>
        <span>&nbsp;Grid View</span>
      </button>
      <button id="butFlexView" mat-stroked-button [color]="currURL === urlFlex ? 'accent' : ''" matTooltip="Flex View"
        [routerLink]="[urlFlex]">
        <mat-icon svgIcon="flex_view"></mat-icon>
        <span>&nbsp;Flex View</span>
      </button>
    </span>

    <div id="div_filter">
      <mat-form-field class="full_text_filter" *ngIf="showFullTextFilter">
        <input id="fullTextFilter" matInput type="text" placeholder="Filter (text columns only)"
          [(ngModel)]="fullTextFilter" (keyup)="onFilterFieldKeyUp($event)">
        <button mat-button id="clearFullTextFilterButton" color="primary" *ngIf="fullTextFilter" matSuffix
          mat-icon-button aria-label="Clear" (click)="resetFullTextFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <span class="span_column_filter" *ngFor="let columnFilter of columnFilters">

        <span class="span_menu_trigger" [matMenuTriggerFor]="nameMenu">{{ columnFilter.name }}</span>
        <mat-menu #nameMenu="matMenu">
          <button mat-menu-item *ngFor="let column of scene.columns"
            [disabled]="column.name === columnFilter.name"
            (click)="onColumnFilterNameChanged(columnFilter, column)">
            <span>&nbsp;{{ column.name }}</span>
          </button>
        </mat-menu>

        <span class="span_menu_trigger" [matMenuTriggerFor]="operatorMenu"
          [matTooltip]="propertyFilterCustomizer.tooltipOf(columnFilter)">{{ columnFilter.operator }}</span>
        <mat-menu #operatorMenu="matMenu">
          <button mat-menu-item *ngFor="let operator of availableOperatorsOf(columnFilter.name)"
            [disabled]="operator === columnFilter.operator"
            (click)="columnFilter.operator = operator; refreshEntries()">
            <span>{{ operator }}</span>
          </button>
        </mat-menu>

        <mat-form-field class="column_filter_value" *ngIf="!columnFilter.operator.endsWith('empty')">
          <input matInput type="text" placeholder="Filter Value"
            [matTooltip]="propertyFilterCustomizer.tooltipOf(columnFilter)" [(ngModel)]="columnFilter.value"
            (keyup)="onFilterFieldKeyUp($event)">
          <button mat-button color="primary" *ngIf="columnFilter.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="resetColumnFilter(columnFilter)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-icon class="icon_remove_column_filter" matTooltip="Remove column filter"
          (click)="removeColumnFilter(columnFilter)">remove_circle_outline</mat-icon>
      </span>
    </div>

    <span class="span_buttons" *ngIf="scene">

      <button id="butAddColFilter" mat-stroked-button matTooltip="Add column filter"
        [matMenuTriggerFor]="columnFilterMenu">
        <mat-icon>add_circle_outline</mat-icon>
        <span>&nbsp;Add Filter</span>
      </button>
      <mat-menu #columnFilterMenu="matMenu">
        <span *ngFor="let column of scene.columns">

          <button class="menu_item_add_text_filter" *ngIf="!isNumericColumn(column)"
            mat-menu-item (click)="addValueFilter(column)">
            <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
            <span>{{ column.name }}</span>
          </button>

          <button *ngIf="isNumericColumn(column)" mat-menu-item [matMenuTriggerFor]="numericColumnFilterMenu">
            <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
            <span>{{ column.name }}</span>
          </button>
          <mat-menu #numericColumnFilterMenu="matMenu">
            <button mat-menu-item (click)="addValueFilter(column)" [disabled]="!canAddValueFilter(column)">
              <mat-icon>{{ iconOf(column.dataType) }}</mat-icon>
              <span>Value</span>
            </button>
            <button mat-menu-item (click)="addRangeFilter(column, null)">
              <mat-icon>swap_horiz</mat-icon>
              <span>Value Range</span>
            </button>
          </mat-menu>

        </span>
      </mat-menu>

      <button mat-button *ngIf="rangeFilters.length > 0" mat-icon-button
        [matTooltip]="showRangeFilters ? 'Hide value range filters' : 'Show value range filters'"
        (click)="showRangeFilters = !showRangeFilters">
        <mat-icon [matBadge]="rangeFilters.length" matBadgeSize="small"
          [matBadgeColor]="showRangeFilters ? 'pimary' : 'accent'">swap_horiz</mat-icon>
      </button>

      <button mat-button (click)="refreshEntries()" mat-icon-button matTooltip="Refresh data">
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
  </div>

  <div *ngIf="showRangeFilters">
    <div *ngFor="let rangeFilter of rangeFilters">
      <div class="div_range_slider">
        <button mat-button color="accent" mat-icon-button matTooltip="Define slider step size"
          [matMenuTriggerFor]="stepmenu">
          <mat-icon [matBadge]="rangeFilter.selectedStepAbbrev" matBadgePosition="below" matBadgeColor="accent">
            linear_scale
          </mat-icon>
        </button>
        <mat-menu #stepmenu="matMenu">
          <button mat-menu-item *ngFor="let step of rangeFilter.availableSteps"
            [disabled]="step === rangeFilter.selectedStep" (click)="rangeFilter.onStepChanged(step)">
            <span>Step by {{ rangeFilter.formatStep(step) }}</span>
          </button>
        </mat-menu>
        &nbsp;&nbsp;
        <ng5-slider [value]="rangeFilter.selValueRange.min" [highValue]="rangeFilter.selValueRange.max"
          [options]="rangeFilter.sliderOptions" (highValueChange)="rangeFilter.selValueRange.maxExcluding = false"
          (userChangeEnd)="onRangeFilterChanged(rangeFilter, $event)"></ng5-slider>
        <button class="but_reset_range_filter" mat-button color="accent" mat-icon-button
          matTooltip="Reset value range filter" [disabled]="!rangeFilter.isFiltered()"
          (click)="resetRangeFilter(rangeFilter)">
          <mat-icon>undo</mat-icon>
        </button>
        <button class="but_remove_range_filter" mat-button mat-icon-button matTooltip="Remove value range filter"
          (click)="removeRangeFilter(rangeFilter)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <div class="div_range_column_name">{{ rangeFilter.column.name }}
        <span [class]="rangeFilter.inverted ? 'span_outside_range_menu_trigger' : 'span_menu_trigger'"
          [matMenuTriggerFor]="rangeTypeMenu">{{ rangeFilter.inverted ? 'is outside range' : 'is inside range' }}</span>
        <mat-menu #rangeTypeMenu="matMenu">
          <button mat-menu-item [disabled]="!rangeFilter.inverted"
            (click)="onRangeFilterInvertedChanged(rangeFilter, false)">
            <span>is inside range</span>
          </button>
          <button mat-menu-item [disabled]="rangeFilter.inverted"
            (click)="onRangeFilterInvertedChanged(rangeFilter, true)">
            <span>is outside range</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>