@if (computing) {
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
}
<div id="div_table">
  @if (frameData && rowSpans) {
    <table mat-table [dataSource]="frameData" matSort (matSortChange)="sort($event)"
      [matSortActive]="currentSort.active" [matSortDirection]="currentSort.direction">
      @for (column of frameColumns.slice(0, - overalls.length); track column; let iCol = $index) {
        <ng-container [matColumnDef]="column"
          >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td *matCellDef="let entry; let iRow = index" [attr.rowspan]="rowSpans[iCol][iRow].span"
            [style.display]="rowSpans[iCol][iRow].span === 0 ? 'none'  : ''">{{ formattedValueOf(iCol, entry[column]) }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{iCol === frameColumns.length - overalls.length - 1 ? 'Overall' : '' }}
          </td>
        </ng-container>
      }
      @for (aggregation of context.aggregations; track aggregation; let iCol = $index) {
        <ng-container [matColumnDef]="aggregation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ aggregation }}</th>
          <td class="td_aggregation" *matCellDef="let entry">
            @if (aggregation !== 'Count' || context.isAnyColumnWithValueGroupingInUse()) {
              <span>
                {{ entry[aggregation] | number }}
              </span>
            }
            @if (aggregation === 'Count' && !context.isAnyColumnWithValueGroupingInUse()) {
              <a
                (click)="onAggregationCellClick(entry)" matTooltip="Show Data...">
                {{ entry[aggregation] | number }}
              </a>
            }
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ overalls[iCol] | number }}</td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="frameColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let entry; columns: frameColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="frameColumns; sticky: true"></tr>
    </table>
  }
</div>