#div_table {
  overflow: auto;
  margin-right: 1px;
  /* to have resize-cursor displayed when vertical scrollbar is shown */
  height: calc(100% - 48px);
}

.mat-mdc-table {
  min-width: 1%;
}

th {
  z-index: 1 !important;
  /* otherwise, it doesn't stay behind sticky header when scrolling */
  padding: 8px;
}

td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.td_aggregation {
  text-align: right;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(10, 10, 158);
}

.mat-mdc-header-row {
  height: auto;
}

.mat-mdc-row {
  height: auto;
}

.mat-mdc-row:nth-child(even) {
  background-color: #fff;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #efefef;
}

td.mat-mdc-footer-cell {
  font-weight: bold;
  padding-left: 10px !important;
  padding-right: 5px !important;
  text-align: right;
}