@import '~@angular/material/theming';

@include mat-core();

$koia-primary: mat-palette($mat-indigo);
$koia-accent:  mat-palette($mat-green);
$koia-warn:    mat-palette($mat-orange);

$koia-theme: mat-light-theme($koia-primary, $koia-accent, $koia-warn);

@include angular-material-theme($koia-theme);