.div_limitation {
  padding: 5px;
  background: #ffffcc;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

#but_new_scene {
  position: relative;
  top: -5px;
}

.scene_name {
   width: 250px;
   padding-right: 10px;
 }
 
.scene_short_desc {
  width: 500px;
  padding-right: 10px;
}