<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="koia-logo"></div>
    <mat-card-title>Scenes
      <button id="but_new_scene" mat-stroked-button matTooltip="Import data and create new scene" [routerLink]="[urlScene]">
        <mat-icon>add_photo_alternate</mat-icon>
        <span>&nbsp;Add Scene</span>
      </button>
    </mat-card-title>
    <mat-card-subtitle>Manage your existing scenes</mat-card-subtitle>
  </mat-card-header>
  <div class="div_scene" *ngFor="let sceneInfo of sceneInfos">

    <button class="but_more" mat-icon-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button class="menu_item_details" mat-menu-item (click)="showSceneDetails(sceneInfo._id)">
        <mat-icon>pageview</mat-icon>
        <span>Show details</span>
      </button>
      <button class="menu_item_delete" mat-menu-item (click)="delete(sceneInfo)">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

    <button id="but_continue" mat-button *ngIf="activeSceneId === sceneInfo._id" mat-icon-button
      [color]="activeSceneId === sceneInfo._id ? 'accent' : ''" matTooltip="Continue with this scene"
      (click)="leave()">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button class="but_activate_scene" mat-button *ngIf="activeSceneId !== sceneInfo._id" mat-icon-button
      matTooltip="Activate scene" (click)="activate(sceneInfo)">
      <mat-icon>play_circle_outline</mat-icon>
    </button>

    <mat-form-field class="scene_name">
      <input matInput type="text" placeholder="Scene Name" readonly [(ngModel)]="sceneInfo.name">
    </mat-form-field>
    <mat-form-field class="scene_short_desc">
      <input matInput type="text" placeholder="Short Description" readonly [(ngModel)]="sceneInfo.shortDescription">
    </mat-form-field>
    <mat-form-field class="scene_creation_time">
      <input matInput type="text" placeholder="Creation Time" readonly [value]="sceneInfo.creationTime | date:'medium'">
    </mat-form-field>
  </div>
</mat-card>