@if (colorOptions) {
  Categorical
  @for (s of categoricalSchemes; track s) {
    <div>
      <img [src]="imagesDir + s + '.png'" [class]="s == colorOptions.scheme ? 'selected' : 'unselected'"
        [title]="s" (click)="selectCategoricalScheme(s)">
        @if (s == colorOptions.scheme) {
          <span>✔</span>
        }
      </div>
    }
    <br>
      Sequential
      @for (s of sequentialSchemes; track s) {
        <div>
          <img [src]="imagesDir + s + '.png'" [class]="s == colorOptions.scheme ? 'selected' : 'unselected'"
            [title]="s" (click)="selectSequentialScheme(s)">
            @if (s == colorOptions.scheme) {
              <span>✔</span>
            }
          </div>
        }
        <br>
          <div class="div_opacity">
            Background Color Opacity
            <mat-slider min="0" max="1" step="0.05">
              <input matSliderThumb [(ngModel)]="colorOptions.bgColorOpacity" (dragEnd)="changeColorProvider()" />
            </mat-slider>
          </div>
          <div class="div_opacity">
            Border Color Opacity
            <mat-slider min="0" max="1" step="0.05">
              <input matSliderThumb [(ngModel)]="colorOptions.borderColorOpacity" (dragEnd)="changeColorProvider()" />
            </mat-slider>
          </div>
        }