div {
   display: flex;
   align-items: center;
}

.column_name {
   width: 20em;
   padding-right: 1em;
}

.column_data_type {
   width: 8em;
   padding-right: 1em;
}

.column_width {
   width: 6em;
   padding-right: 1em;
}

.span_source_format {
   margin-right: 1em;
   vertical-align: bottom;
}

.column_format {
   width: 16em;
}

::ng-deep .tooltip_warning {
   color: red !important;
   background-color: rgb(218, 196, 74);
   white-space: pre-line;
   max-width: 800px !important;
}