/* You can add global styles to this file, and also import other style files */

html {
  background-color: #292626;
}

body {
  padding: 30px 40px;
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.koia-logo {
  background-image: url('/assets/koialogo_50x50.png');
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

#image-scenes {
  background-image: url('/assets/mat-icons/scenes.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#image-scene {
  background-image: url('/assets/mat-icons/scene.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.div_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.div_header {
  flex-shrink: 0;
}

.div_content {
  flex-grow: 1;
  overflow: auto;
}

.multi-line-tooltip {
  white-space: pre-line;
}

#view_toolbar {
  background-color: #CFD8DC;
  width: 100%;
  border-top: 1px solid rgb(145, 144, 144);
}

.sidenav {
  width: 340px;
  /* keep in sync with ViewController#SIDENAV_WIDTH */
}

.div_accordion_options {
  width: 100%;
}

.mat-expansion-panel {
  background: #e8eced !important;
}

.toggle_multi_expand {
  padding: 10px 10px 12px 15px;
}

.span_exp_collapse_all {
  position: absolute;
  right: 0px;
  margin-right: 20px;
}

mat-panel-description {
  justify-content: flex-end;
}

.span_add_group {
  padding-left: 15px;
}

.span_left_to_right {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.div_group_values {
  border: solid 1px #ccc;
  min-height: 40px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.div_group_value {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
}

.mat-mdc-tooltip {
  font-size: 12px;
}

.mat-mdc-card {
  color: black;
}

.mat-mdc-card-title {
  font-size: 20px;
}

/*
.mat-mdc-form-field-infix {
  min-height: 1em;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
*/

.but_config {
  z-index: 1;
  /* otherwise, it doesn't stay behind sticky header when scrolling */
}

.accent {
  color: white;
  background-color: #ff4081;
}

.primary {
  color: white;
  background-color: #3F51B5;
}

.white {
  background-color: white;
}

.dialog-container .mat-mdc-dialog-container {
  padding: 0px 0px 0px 0px;
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
}

.mat-bottom-sheet-container {
  background: transparent;
}

/* the following CSS class names must match enum StatusType */
.success {
  background-color: greenyellow;
  white-space: pre-line;
}

.warning {
  background-color: orange;
  white-space: pre-line;
  display: inline;
}

.error {
  background-color: rgb(245, 102, 102);
  white-space: pre-line;
}

var {
  color: gray;
  padding-left: 15px;
}

@media print {

  body * {
    visibility: hidden;
  }

  img {
    display: none;
  }

  .but_config,
  .but_close {
    display: none !important;
  }

  * {
    overflow: visible !important;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .div_content {
    display: block !important;
    flex-grow: 1;
  }

  .div_element {
    page-break-inside: avoid !important;
  }

  .div_chart {
    display: block;
    height: 100%;
  }
}