#div_svg {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 48px);
}

svg {
  height: 100%;
  width: 100%;
}

.div_tooltip {
  position: absolute;
  text-align: left;
  padding: 5px;
  border: 1px solid rgb(100, 100, 100);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.tooltip_colored_box {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: bottom;
}

div.tooltip {
  position: absolute;
  width: 300px;
  pointer-events: none;
}