#div_table {
  margin: 0px 10px 10px 10px;
  overflow-y: auto;
}

.table_layout_fixed {   
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 5px;
  background-color: white;
  overflow: hidden;
}

td {
   word-wrap: break-word;   
   vertical-align: top;
   padding: 5px;
}

.td_Text {
  text-align: left;
}

.td_Object {
  white-space: pre;
  overflow: hidden;
  cursor: pointer;
}

.td_Number {
  text-align: right;
}

.mat-row {
  height: auto;
}

.mat-row:nth-child(even){
  background-color:#fff;
}

.mat-row:nth-child(odd){
  background-color:#efefef;
}

.mat-paginator-sticky {
  position: sticky;
  bottom: 0px;
  z-index: 10;
}

:host ::ng-deep.mat-paginator .mat-form-field-underline {
  display: none;
}