.div_wrapper {
  overflow-x: hidden;
}

#div_table {
  margin: 10px;
  overflow-y: auto;
}

.table_layout_fixed {
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 5px;
  background-color: white;
  overflow: hidden;
}

td {
  word-wrap: break-word;
  vertical-align: top;
  padding: 5px;
}

.td_Text {
  text-align: left;
}

.td_Object {
  white-space: pre;
  overflow: hidden;
  cursor: pointer;
}

.td_Number {
  text-align: right;
}

.mat-mdc-row {
  height: auto;
}

.mat-mdc-row:nth-child(even) {
  background-color: #fff;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #efefef;
}

.mat-paginator-sticky {
  position: sticky;
  bottom: 0px;
  z-index: 10;
}

/* inspired by https://stackoverflow.com/a/75258592/2358409 */
::ng-deep .mdc-notched-outline>* {
  border: none !important;
}