  <div #header [class]="dialogStyle ? '' : 'sticky_header'">
    <koia-main-toolbar [dialogStyle]="dialogStyle" *ngIf="!hideToolbar" [route]="route" [query]="query" (onAfterViewChecked)="adjustLayout()"
      (onFilterChange)="onFilterChanged($event)">
    </koia-main-toolbar>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" matTooltip="Loading Data..."></mat-progress-bar>
    <div id="view_toolbar">
      <button id="but_print" mat-button mat-icon-button *ngIf="!dialogStyle" printSectionId="print-section" ngxPrint matTooltip="Print current view"
        (click)="printView()">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-button [color]="wrapWords ? 'accent' : ''" mat-icon-button
        [matTooltip]="wrapWords ? 'Unwrap Words' : 'Wrap Words'" (click)="wrapWords = !wrapWords">
        <mat-icon>wrap_text</mat-icon>
      </button>
      <button mat-button [color]="highlight ? 'accent' : ''" mat-icon-button
        [matTooltip]="highlight ? 'Undo highlight rows' : 'Higlight rows'" (click)="highlight = !highlight">
        <mat-icon>highlight</mat-icon>
      </button>
    </div>
  </div>

  <div #content id="div_table" class="mat-elevation-z8 printable">

    <table [class]="wrapWords ? '' : 'table_layout_fixed'" mat-table [dataSource]="entries" matSort
      (matSortChange)="sortEntries($event)">

      <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
        <span *ngIf="column.indexed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="column.width + 'px'">
            {{ column.name }}</th>
        </span>
        <span *ngIf="!column.indexed">
          <th mat-header-cell *matHeaderCellDef [style.width]="column.width + 'px'">{{ column.name }}</th>
        </span>
        <td [class]="'td_' + column.dataType" *matCellDef="let entry">{{ formattedValueOf(column, entry) }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames, sticky: true"></tr>
      <tr mat-row *matRowDef="let entry; columns: columnNames;" [style.background]="highlight ? entry['bgcolor'] : null"
        [style.color]="highlight ? entry['fgcolor'] : null"></tr>

    </table>

    <mat-paginator #paginator class="mat-paginator-sticky" [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons="true" [length]="totalRowCount" (page)="onPageChanged()">
    </mat-paginator>

  </div>