@use '@angular/material' as mat;
@include mat.core();

$koia-primary: mat.define-palette(mat.$indigo-palette, 700, 300, 900);
$koia-accent: mat.define-palette(mat.$green-palette, 700);
$koia-warn: mat.define-palette(mat.$red-palette);

$koia-theme: mat.define-light-theme(( //
            color: (primary: $koia-primary, accent: $koia-accent, warn: $koia-warn ),
            density: -1));

@include mat.all-component-themes($koia-theme);